$background: lightyellow;
$background2: rgb(94, 94, 192);
$frog__body: rgb(24, 108, 24);
$frog__belly: rgb(154, 210, 130);
$frog__eye--white: #eee;
$frog__shadow: rgba(7, 100, 47, 0.3);
$frog__tongue: rgb(212, 23, 23);
$frog__pupil: black;
$frog__mouth: rgb(4, 57, 4);
$frog__backLeg: rgb(20, 90, 20);
$frog__frontLeg: rgb(30, 130, 30);
$shadow: rgba(0, 0, 0, 0.2);
$leaf: lightgreen;
$leaf__shadow: rgb(73, 73, 150);
$ripple: lightblue;
$fly: black;
$fly__wings: #eee;