$background: linear-gradient(lightyellow, lightpink, lightcoral);
$background2: rgb(116, 116, 230);
$frog__body: rgb(24, 108, 24);
$frog__belly: linear-gradient(rgb(154, 210, 130), 80%, rgb(110, 162, 85) ) ;
$frog__eye--white: #eee;
$frog__shadow: rgba(7, 100, 47, 0.3);
$frog__tongue: rgb(212, 23, 23);
$frog__pupil: black;
$frog__mouth: rgb(4, 57, 4);
$frog__backLeg: rgb(20, 90, 20);
$frog__frontLeg: rgb(30, 130, 30);
$shadow: rgba(0, 0, 0, 0.2);
$leaf: lightgreen;
$leaf__shadow: rgb(91, 91, 185);
$ripple: rgb(155, 155, 254);
$fly: black;
$fly__wings: #eee;