//lightmode
$background: #F0ECE3;
$logo: #BEADFA;
$secondair: #DFD3C3;
$third: #C7B198;

$gradient: linear-gradient(to bottom right, #BEADFA, #66347F);

// darkmode
$dark: #603178;
$darkmode__background: #452455;
$gradient--darkmode: linear-gradient(to bottom right, #F0ECE3, #C7B198);